@font-face {
    font-family: 'EvogriaItalic';
    src: url('../fonts/EvogriaItalic.eot');
    src: url('../fonts/EvogriaItalic.eot') format('embedded-opentype'),
         url('../fonts/EvogriaItalic.woff2') format('woff2'),
         url('../fonts/EvogriaItalic.woff') format('woff'),
         url('../fonts/EvogriaItalic.ttf') format('truetype'),
         url('../fonts/EvogriaItalic.svg#EvogriaItalic') format('svg');
}

@font-face {
    font-family: 'Evogria';
    src: url('../fonts/Evogria.eot');
    src: url('../fonts/Evogria.eot') format('embedded-opentype'),
         url('../fonts/Evogria.woff2') format('woff2'),
         url('../fonts/Evogria.woff') format('woff'),
         url('../fonts/Evogria.ttf') format('truetype'),
         url('../fonts/Evogria.svg#Evogria') format('svg');
}



h1,h2,h3 {
    font-family: 'EvogriaItalic';
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

h4,h5 {
    font-family: 'Evogria';
    color: #003366;
}

h4 {
    font-size: 1.2rem;
}


h3 {
    color: #cc0000;
}

.big {
    font-size: 46px;
}

header {
    background: url(../img/header.png) center no-repeat;
    background-size: cover;
    min-height: 775px;
    text-align: center;
}

section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 20px;
}

.button--cta {
    font-family: 'Evogria';
    text-transform: uppercase;
    padding: 7px;
    text-align: center;
    color: #000;
    background: url(../img/cta.png) no-repeat;
    background-size: cover;
    width: 290px;
    display: block;
    height: 50px;
    font-size: 24px;
    margin: 0 auto 40px;
}

.gray--background {
    background: #f1efee;
}

.quote {
    font-family: 'EvogriaItalic';
    text-align: center;
}

.quote span {
    color: #cc0000;
}

.rebord,
.rebord img {
    width: 100%;
}

div.logo {
    padding: 30px 0 0;
}

div.logo img {
    width: 550px;
    max-width: 80%;
}

div.tete--affiche {
    margin: 30px 0 0;
}

div.tete--affiche img {
    max-width: 80%;
    width: 380px;
}

div.tete--date {
    margin: 80px 0 0;
}

div.tete--date img {
    max-width: 80%;
    width: 440px;
}

div.row.combat--liste {
    margin-top: 50px;
}

div.combat--versus {
    text-align: center;
    margin: 0 auto 30px; 
}

div.combat--versus img {
    max-width: 100%
}

div.row.combat--versus--wrap {
    background: #f1efee;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #797979;
}

div.combat--versus h3 {
    text-decoration: none;
    margin-top: 15px;   
}

div.combat--versus h4 {
    text-decoration: none;
    margin-top: 15px; 
    margin-bottom: 0;
}

div.col-sm.versus--image {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
}

div.col-sm.versus--image img {
    margin: auto auto 0 auto;
    width: 70px;
}

div.col-sm.versus--image a {
    margin: 10px auto auto;
    color: #000;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.pays {
    color: #003366;
    font-family: 'Evogria';
}

div.pays.france:before {
    background: url(../img/france.png) no-repeat center;
    content: "";
    margin-right: 10px;
    background-size: 30px;
    display: inline-block;
    width: 30px;
    height: 14px;
    margin-top: 5px;
}

div.pays.usa:before {
    background: url(../img/usa.png) no-repeat center;
    content: "";
    margin-right: 10px;
    background-size: 30px;
    display: inline-block;
    width: 30px;
    height: 14px;
    margin-top: 5px;
}

div.pays.belgique:before {
    background: url(../img/belgique.png) no-repeat center;
    content: "";
    margin-right: 10px;
    background-size: 30px;
    display: inline-block;
    width: 30px;
    height: 14px;
    margin-top: 5px;
}


section.combats--details {
    text-align: center;
    max-width: 100%;
}

section.combats--details img {
    max-width: 100%;
    padding: 0 100px;
}

section.combats--details h3 {
    text-decoration: none;
    font-size: 40px;
    margin-top: 25px;
}

section.combats--details div.col-md-5{
    margin: 0 auto;
    text-align: justify;
}

section.hashtag {
    background: url(../img/mainevent.png);
    background-size: cover;
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: #FFF;
    text-align: center;
    padding-top: 80px;
    display: flex;
}

section div.hashtag--wrap {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.hashtag .title{
    font-family: 'Evogria';
    font-size: 70px;
    margin: auto auto 0 auto;
}

section.hashtag .button--sort {
    margin: 30px auto auto;
    text-transform: uppercase;
    font-family: 'EvogriaItalic';
    border: 2px solid;
    padding: 8px 30px;
}

section.callback--cta .button--cta {
    font-size: 46px;
    width: 570px;
    height: 100px;
    padding: 12px;
    margin: 0 auto;
}

section.infospratiques {
    background: #f1efee;
    margin: 0;
    max-width: 100%;
    text-align: center;
}

section.map {
    text-align: center;
}

section.map h2 {
    margin-bottom: 30px;
}

footer {
    color: #FFF;
    text-align: center;
    background: url(../img/mainevent.png) 0 center;
    background-size: cover;
    overflow: auto;
    padding: 50px 0;    
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li img {
    width: 50px;
}

footer p {
    text-transform: uppercase;
    font-size: 11px;
    margin: 0;
    padding-top: 40px;
}